

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>快助推</title>
<meta name="keywords" content="快助推官网"/>
<meta name="description" content=""/>
     {% load staticfiles %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/task/login.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.showLoading.min.js" %}"></script>
    <script type="text/javascript">
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            location.href = "/app/";
        }
    </script>
</head>

<body style="background:#fff">
<!--头部 开始-->
<div class="twp_header">
 <div class="wd1200">
  <h1 class="logo"><a href="/" title="快助推">快助推</a></h1>
  <div class="reg_btn"><a href="/reg">免费注册</a></div>
 </div>
    
</div>
<!--头部 结束-->


<!--主体 开始-->
<div class="twp_wrap">
 <div class="twp_slide">
 <div class="wd1200">

  <div class="login_pic"></div>

{% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

  <form action="" method="post">
  <div class="login_box">


{#   <ul>#}
{#    <li>#}
    <div class="ipt_box">
     <i class="ico user_ico"></i>
        <div>

            <table>
            {{ lf.as_table }}
            </table>

            <br>
    <span class="select_box"><input type="checkbox" name="chkRemember" id="chkRemember" value="1" checked="checked" style="width: 16px;height: 16px;" /></span>记住用户名 <span class="forgetpwd"><a href="ChangePassword">忘记密码？</a></span>

       <input type="submit" value="立即登陆"  />

   </ul>
  </div>
    </div>
      </div>
  </form>
 </div>
 </div>
</div>
<!--主体 结束-->

<!--底部 开始-->
<div class="twp_foot clearfix">
 <div class="wd1000">
  <div class="copyright">Copyright &copy; 2012-2020 kuaizhutui.com  快助推 版权所有</div>
  <div class="footicon">
    <a href="javascript:void(0)" class="logo1" rel="nofollow"></a>
    <a href="javascript:void(0)" class="logo2" rel="nofollow"></a>  
    <a href="javascript:void(0)" class="logo3" rel="nofollow"></a> 
    <a href="javascript:void(0)" class="logo4" rel="nofollow"></a>        
  </div>
 </div>
</div>
<!--底部 结束-->
<span style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1259398474'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259398474%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</span>
</body>
</html>
